.hamburger-btn {
  display: none;
}

/* Hamburger button */
.hamburger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

/* Fullscreen overlay */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Close button */
.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}

/* Centered menu links */
.menu-links {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
}

.menu-links a {
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.menu-links a:hover {
  opacity: 0.6;
}


@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}