.title{
  font-family: sans-serif;
  font-size: auto;
  font-weight:bolder;
  color: #191919;
  text-align: center;
  max-width: 710px;
  white-space:pre-line;
  transform: scale(1.4);
  letter-spacing: 0.4px;
  padding-top: 6rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  font-size: 35px;
}

.sub{
  color: #999999;
  text-align: center;
  font-size: 20px;
  width: 610px;
  padding-top: 30px;
  font-family: sans-serif;
  margin: 0 auto;
}

.truistwrapper{
  padding-top: 6rem;
}

.truist-container{
  display:grid;
  grid-template-columns: 1fr .6fr;
  width: 100%;
  min-height: 500px;
}


.truist-picture{
  max-width: 100%;
}

.info {
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; 
  padding: 2rem;
  line-height: 2.5rem;
}


.noti, .aboutnoti{
  display: flex;
  color: black;
  text-align: center;
}

.capsnogapswrapper{
  padding-top: 1.5rem;
}

.capsnogaps-container{
  display:grid;
  grid-template-columns: 1fr 0.6fr;
  width: 100%;
  min-height: 500px;
}


.divpic-picture{
  max-width: 100%;
}