@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* ---------------- MAIN PAGE LAYOUT ---------------- */
main {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  padding: 0 1rem;
  background: white;
}

/* ---------------- HEADER ---------------- */
.Header {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;

}

/* NAVIGATION BAR */
.nav-bar {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}


.nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #d6d6d6;
  padding: 4%;
}

.nav-links {
  display: flex;
}

.nav-link:hover {
  color: #191919;
}

.nav-link.active {
  color: black;
  font-weight: bold;
}

.line-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.Line {
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 10px;
}


.logokendra {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-55px);
  width: 100px;
  height: auto;
  z-index: 10;
  background-color: transparent;
}

.hamburger span{
  color: #191919;
  border: #191919;
}